body {
    background-color: lightgray;
}

#content {
    text-align: center;
    
}

#bank-holder-div {
    margin: 0 auto;
    width: 40%;
    background-color: greenyellow;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 15px;
}

#bank-div-amount {
    display: inline-block;
    float: left;
    padding-left: 25%;
}

#bank-div {
    font-style: italic;
}

#bankDiv {
    float: left;
    display: inline-block;
}

#play-game-button {
    margin-bottom: 10px;
}

#bet-div {
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
}

#card-holder {
    margin: 0 auto;
    width: 100%;
}

#card-0 {
    float: left;
    text-align: center;
    background-color: #222;
    display: inline-block;
    height: 100px;
    padding-top: 50px;
    width: 20%;
}

#card-1 {
    float: left;
    text-align: center;
    background-color: #222;
    display: inline-block;
    width: 19%;
    height: 100px;
    padding-top: 50px;
    width: 20%;
}

#card-2 {
    float: left;
    text-align: center;
    background-color: #222;
    display: inline-block;
    width: 19%;
    height: 100px;
    padding-top: 50px;
    width: 20%;
}

#card-3 {
    float: left;
    text-align: center;
    background-color: #222;
    display: inline-block;
    width: 19%;
    height: 100px;
    padding-top: 50px;
    width: 20%;
}

#card-4 {
    float: left;
    text-align: center;
    background-color: #222;
    display: inline-block;
    width: 19%;
    height: 100px;
    padding-top: 50px;
    width: 20%;
}

#update-hold-button-div {
    text-align: center;
    /* width: 100%; */
}

#card-hold-0 {
    float: left;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 50px;
    padding-top: 5px;
    background-color: whitesmoke;
}

#card-hold-1 {
    float: left;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 50px;
    padding-top: 5px;
    background-color: whitesmoke;
}

#card-hold-2 {
    float: left;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 50px;
    padding-top: 5px;
    background-color: whitesmoke;
}

#card-hold-3 {
    float: left;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 50px;
    padding-top: 5px;
    background-color: whitesmoke;
}

#card-hold-4 {
    float: left;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 50px;
    padding-top: 5px;
    background-color: whitesmoke;
}

#winning-log-holder-div {
    margin: 0 auto;
    width: 100%;
}

/* Make this show some flashing colors around the border when a winner */
#winning-log-div {
    text-align: center;
    background-color: greenyellow;
    display: inline-block;
    width: 30%;
    height: 40px;
    margin-top: 15px;
    border-style: solid;
    border-width: 2px;
    padding-top: 15px;
}

#winning-amount-div {
    text-align: center;
    background-color: greenyellow;
    display: inline-block;
    width: 30%;
    height: 20px;
    margin-top: 5px;
    border-style: solid;
    border-width: 2px;
    padding-top: 5px;
}

